
# ================= R21C  =================== 
# This observation system resource file database will track
# the whereabout of observation files.
#   It will be used by scripts require_obsys (hard check the
# existence of observation files)
#   and acquire_obsys (will call acquire to get files).
#
# Syntax:
# -------
# BEGIN observation_file_class => StandardName
#   startYYYYMMDD_HHz-endYYYYMMDD_HHz incrementHHMMSS remote_file_name_template
# END
#
# Modification History:
# ---------------------
# 2020.10.01 ElAkkraoui	merged MERRA-2 obsys.rc with default template from GEOSadas-5_27   
############################################################



# NCEP Pre-bufr conventional data
# -------------------------------

BEGIN merra2_cdas0_pre-qc_bufr => cdas.%y4%m2%d2.t%h2z.pre-qc.ublk
 19790101_00z-19841231_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/conv/prepbufr/Y%y4/M%m2/ncep2013.gdas.prepbufr.%y4%m2%d2.t%h2z.bufr
 19850101_00z-19970430_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/conv/prepbufr_fixvai/Y%y4/M%m2/ncep2013_fixvai.gdas.prepbufr.%y4%m2%d2.t%h2z.bufr
 19970501_00z-20001231_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/conv/prepbufr_fixvai_no_npn/Y%y4/M%m2/ncep2013_fixvai_no_npn.gdas.prepbufr.%y4%m2%d2.t%h2z.bufr
END

BEGIN merra2_cdas_pre-qc_bufr => cdas.%y4%m2%d2.t%h2z.pre-qc.ublk
 20010101_00z-20040915_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/conv/prepbufr/runh_PAOB_no_land/Y%y4/M%m2/RUNH_prepbufr_%y4%m2%d2%h2
 20040916_00z-20040916_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/conv/prepbufr/runh_gaps_filled_PAOB_no_land/Y%y4/M%m2/RUNH_prepbufr_%y4%m2%d2%h2
 20040917_00z-20050624_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/conv/prepbufr/runh_PAOB_no_land/Y%y4/M%m2/RUNH_prepbufr_%y4%m2%d2%h2
 20050625_00z-20050625_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/conv/prepbufr/runh_gaps_filled_PAOB_no_land/Y%y4/M%m2/RUNH_prepbufr_%y4%m2%d2%h2
 20050626_00z-20050714_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/conv/prepbufr/runh_PAOB_no_land/Y%y4/M%m2/RUNH_prepbufr_%y4%m2%d2%h2
 20050715_00z-20050721_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/conv/prepbufr/runh_gaps_filled_PAOB_no_land/Y%y4/M%m2/RUNH_prepbufr_%y4%m2%d2%h2
 20050722_00z-20051231_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/conv/prepbufr/runh_PAOB_no_land/Y%y4/M%m2/RUNH_prepbufr_%y4%m2%d2%h2
 20060101_00z-20080915_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/ops/merra/conv/prepbufr/runha/Y%y4/M%m2/prepbufr.gdas_red.%y4%m2%d2%h2
 20080916_00z-20081231_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/conv/prepbufr_tamdarKXfix/runha/Y%y4/M%m2/prepbufr.gdas_red.%y4%m2%d2%h2
 20090101_00z-20111231_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/conv/prepbufr_tamdarKXfix/runha/Y%y4/M%m2/reanalysis.prepbufr.gdas_red.%y4%m2%d2%h2
 20120101_00z-20170330_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/ops/llk/conv/prepbufr/runha/Y%y4/M%m2/reanalysis.prepbufr.gdas_red.%y4%m2%d2%h2
 20170331_00z-20170401_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/ops/llk/conv/prepbufr/runha/Y%y4/M%m2/reanalysis.prepbufr.gdas_red.%y4%m2%d2%h2_M2
 20170402_00z-21001231_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/ops/llk/conv/prepbufr/runha/Y%y4/M%m2/reanalysis.prepbufr.gdas_red.%y4%m2%d2%h2
END

# AVHRR polar AMV data (prepbufr stream)
BEGIN r21c_avhrrwnd_pre-qc_bufr => avhrr.%y4%m2%d2.t%h2z.pre-qc.ublk
 19821001_00z-20100630_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/avhrr_winds/Y%y4/M%m2/avh_wnd.%y4%m2%d2.%h2z.bufr
END

# AVHRR polar AMV data (satwndbufr stream)
BEGIN r21c_avhrr_satwnd_bufr => avhrr.%y4%m2%d2.t%h2z.satwnd.tm00.bufr_d
 20100701_00z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/avhrr_winds/bufr/Y%y4/M%m2/satwndavhrr.%y4%m2%d2%h2
END

BEGIN r21c_satwnd_bufr => gdas1.%y4%m2%d2.t%h2z.satwnd.tm00.bufr_d.ublk
  20100701_00z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/SATWND/Y%y4/M%m2/gdas1.%y4%m2%d2.t%h2z.satwnd.tm00.bufr_d
END


# ASCAT Scatterometer (prepbufr)
# -------------------
BEGIN merra2_ascat_pre-qc_bufr => obsys.ascat.pre-qc.%y4%m2%d2_%h2z.bufr.ublk
 20080916_00z-21001231_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/conv/ascat/prepbufr/Y%y4/M%m2/ascat.%y4%m2%d2.t%h2z.prepbufr
END

# ERS-2 data. (Original processing through 19970519.  Reprocessing after 19970519.)
BEGIN merra2_repro_ers2_pre-qc_bufr => obsys.ers2.pre-qc.%y4%m2%d2.t%h2z.ublk
 19960319_00z-19970519_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/ers2/prepbufr/Y%y4/M%m2/ers2.%y4%m2%d2.t%h2z.bufr
 19970520_00z-20030217_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/ers2_asps20n/bufr/Y%y4/M%m2/ers2_asps20n.%y4%m2%d2.t%h2z.bufr
 20030813_00z-20110329_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/ers2_wsc/bufr/Y%y4/M%m2/ers2_wsc.%y4%m2%d2.t%h2z.bufr
END

# MERRA Quick SCAT Data   (ms - added 2003,2004)
# ---------------
BEGIN merra2_qscat_jpl_pre-qc_bufr => obsys.qscat.pre-qc.%y4%m2%d2.t%h2z.ublk
 19990719_00z-20001231_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/qscat/prepbufr/Y%y4/M%m2/jpl_qscat.%y4%m2%d2.t%h2z.bufr
 20010101_00z-20081029_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/qscat_runh/prepbufr/Y%y4/M%m2/jpl_qscat.%y4%m2%d2.t%h2z.bufr
 20081030_00z-20091122_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/ops/llk/jplqscat/bfr/jplqscat/Y%y4/M%m2/jplqscat.%y4%m2%d2%h2.bfr
END
# MERRA SSMI Wentz Speed
BEGIN merra2_wspd_pre-qc_bufr => wentzspd.%y4%m2%d2.t%h2z.pre-qc.bufr.ublk
 19870709_00z-20131029_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/SSMIwind_wentz/v7/prepbufr/Y%y4/M%m2/ssmiwnd.%y4%m2%d2.%h2z.bufr
END

BEGIN merra2_nmodis_pre-qc_bufr => modis.%y4%m2%d2.t%h2z.pre-qc.ublk
 20020701_00z-20040708_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/ops/merra/modisw_combined_runh/prepbufr/Y%y4/M%m2/modisw_c.%y4%m2%d2.t%h2z.bfr
 20040709_00z-20040930_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/ops/merra/modisw_runh/prepbufr/Y%y4/M%m2/modisw.%y4%m2%d2.t%h2z.bfr
END
BEGIN merra2_prof_pre-qc_bufr => prof.%y4%m2%d2.t%h2z.pre-qc.ublk
 19920510_00z-20001231_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/ops/merra/profiler/prepbfr/Y%y4/M%m2/profil.%y4%m2%d2.%h2.bfr
 20010101_00z-20080731_18z 060000   /discover/nobackup/projects/gmao/input/dao_ops/ops/merra/profiler_runh/prepbfr/Y%y4/M%m2/profil.%y4%m2%d2.%h2.bfr
END

#--------------------------------- BELOW THIS POINT: NO PRE-QC OBSERVATIONS -----------------------------

BEGIN r21c_ncep_tcvitals => tcvitals.%y4%m2%d2%h2
 19790101_00z-20061231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/tcvitals/text/Y%y4/M%m2/gdas1.%y4%m2%d2.t%h2z.syndata.tcvitals
 20070101_00z-20130812_00z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/tcvitals/text/TCVITALS/Y%y4/M%m2/gfs.%y2%m2%d2.t%h2z.syndata.tcvitals
 20130812_12z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/tcvitals/text/TCVITALS/Y%y4/M%m2/gfs.%y2%m2%d2.t%h2z.syndata.tcvitals
END

# GPROF Precipitation
# -------------------
BEGIN r21c_gprofp13_bufr => gprofp13.%y4%m2%d2.t%h2z.bufr.ublk
 19950503_00z-20090916_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/gprof/bufr/Y%y4/M%m2/gprof.F13.%y4%m2%d2.%h2z.bufr
END
BEGIN r21c_gprofp14_bufr => gprofp14.%y4%m2%d2.t%h2z.bufr.ublk
 19970508_00z-20080824_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/gprof/bufr/Y%y4/M%m2/gprof.F14.%y4%m2%d2.%h2z.bufr
END

# TRMM TMI Level 1B brightness temperature
#-------------------------
BEGIN r21c_tmi_bufr => tmi.%y4%m2%d2.t%h2z.bufr
 19980101_00z-20140930_18z 060000  /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/TRMM/tmi/bufr/Y%y4/M%m2/tmi.V05A.%y4%m2%d2.t%h2z.bufr
END
  
# GPS Radio Occultation Data
# 2001 - Mid-Dec 2007 CHAMP in monthly files
# Mid-Dec 2007 - onward, the start of the COSMIC constellation
# ------------------------------------------------------------
BEGIN r21c_gpsro_bufr => gdas1.%y2%m2%d2.t%h2z.gpsro.tm00.bufr_d.ublk
  20010519_00z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/GPSRO/Y%y4/M%m2/gdas1.%y2%m2%d2.t%h2z.gpsro.tm00.bufr_d
END

# GOES Sounder Radiances
# 5x5 averaged in goesnd.* files 
# 1x1 single FOVs in "goesfv" files
# Control of usage set in satinfo_db
# ----------------------------------
BEGIN r21c_goesnd_prep_bufr => goesnd.%y4%m2%d2.t%h2z.ublk
 20010424_00z-20071204_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/GOES_sounder/prepbufr/Y%y4/M%m2/goesnd.%y4%m2%d2.t%h2z.bufr
END
BEGIN r21c_goesfv_bufr => gdas1.%y2%m2%d2.t%h2z.goesfv.tm00.bufr_d.ublk
  20070222_00z-20200303_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/GOESFV/Y%y4/M%m2/gdas1.%y2%m2%d2.t%h2z.goesfv.tm00.bufr_d
END

# SEVIRI radiances
# ----------------
BEGIN r21c_sevcsr_bufr => gdas1.%y4%m2%d2.t%h2z.sevcsr.tm00.bufr_d.ublk
 20120214_12z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/SEVCSR/Y%y4/M%m2/gdas1.%y4%m2%d2.t%h2z.sevcsr.tm00.bufr_d
END


############### 
# TOVS best data for reanalysis (replaces the old MERRA tovs data)
###############

#REPROCESSED AMSU-A
#------------------
BEGIN r21c_1bamua_bufr => gmao.%y2%m2%d2.t%h2z.1bamua.tm00.bufr.ublk
 19981101_00z-20090411_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/tovs/bufr/AMSUA_repros/Y%y4/M%m2/gmao_r21c_repro.%y4%m2%d2.t%h2z.1bamu.tm00.bufr
 20090412_00z-20090415_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/tovs/bufr/AMSUA_repros/Y%y4/M%m2/gmao_r21c_phaseout.%y4%m2%d2.t%h2z.1bamua.tm00.bufr
 20090416_00z-20130731_18z 060000 /archive/input/dao_ops/obs/merra/tovs_best/AMSUA/Y%y4/M%m2/gmao.%y4%m2%d2.t%h2z.1bamua.tm00.bufr
 20130801_00z-21001231_18z 060000 /archive/input/dao_ops/obs/reanalysis/tovs/bufr/AMSUA/Y%y4/M%m2/gmao.%y4%m2%d2.t%h2z.1bamua.tm00.bufr
END

BEGIN r21c_1bamub_bufr => gmao.%y2%m2%d2.t%h2z.1bamub.tm00.bufr.ublk
 19981101_00z-20130731_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/tovs_best/AMSUB/Y%y4/M%m2/gmao.%y4%m2%d2.t%h2z.1bamub.tm00.bufr
 20130801_00z-20140606_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/tovs/bufr/AMSUB/Y%y4/M%m2/gmao.%y4%m2%d2.t%h2z.1bamub.tm00.bufr
END

BEGIN r21c_1bhrs2_bufr => gmao.%y2%m2%d2.t%h2z.1bhrs2.tm00.bufr.ublk
 19781101_00z-20060930_00z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/tovs_best/HIRS2/Y%y4/M%m2/gmao.%y4%m2%d2.t%h2z.1bhrs2.tm00.bufr
END

BEGIN r21c_1bhrs3_bufr => gmao.%y2%m2%d2.t%h2z.1bhrs3.tm00.bufr.ublk
 19980721_00z-20130731_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/tovs_best/HIRS3/Y%y4/M%m2/gmao.%y4%m2%d2.t%h2z.1bhrs3.tm00.bufr
 20130801_00z-20140606_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/tovs/bufr/HIRS3/Y%y4/M%m2/gmao.%y4%m2%d2.t%h2z.1bhrs3.tm00.bufr
END
BEGIN r21c_1bhrs4_bufr => gmao.%y2%m2%d2.t%h2z.1bhrs4.tm00.bufr.ublk
 20090401_00z-20130731_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/tovs_best/HIRS4/Y%y4/M%m2/gmao.%y4%m2%d2.t%h2z.1bhrs4.tm00.bufr 
 20130801_00z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/tovs/bufr/HIRS4/Y%y4/M%m2/gmao.%y4%m2%d2.t%h2z.1bhrs4.tm00.bufr
END

BEGIN r21c_1bmsu_bufr => gmao.%y2%m2%d2.t%h2z.1bmsu.tm00.bufr.ublk
 19781101_00z-19861031_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/tovs_best/MSU/Y%y4/M%m2/gmao.%y4%m2%d2.t%h2z.1bmsu.tm00.bufr
 19861101_00z-20061010_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/tovs/MSU_RECALIBRATED/Y%y4/M%m2/ncep.%y2%m2%d2.t%h2z.1bmsu.tm00.bufr
END

BEGIN r21c_1bmhs_bufr => gmao.%y2%m2%d2.t%h2z.1bmhs.tm00.bufr.ublk
 20051101_00z-20130731_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/tovs_best/MHS/Y%y4/M%m2/gmao.%y4%m2%d2.t%h2z.1bmhs.tm00.bufr
 20130801_00z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/tovs/bufr/MHS/Y%y4/M%m2/gmao.%y4%m2%d2.t%h2z.1bmhs.tm00.bufr
END

BEGIN r21c_1bssu_bufr => gmao.%y2%m2%d2.t%h2z.1bssu.tm00.bufr.ublk
 19781101_00z-20060505_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/merra/tovs_best/SSU/Y%y4/M%m2/gmao.%y4%m2%d2.t%h2z.1bssu.tm00.bufr
END

BEGIN r21c_eosairs_bufr => eos_airs.%y4%m2%d2.t%h2z.bufr
 20020901_00z-22001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/aqua_disc/bufr/airs/Y%y4/M%m2/airs_disc_final.%y4%m2%d2.t%h2z.bufr
END

BEGIN r21c_eosamsua_bufr => eos_amsua.%y4%m2%d2.t%h2z.bufr
 20020901_00z-20190212_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/aqua_disc/bufr/amsu/Y%y4/M%m2/amsua_disc_final.%y4%m2%d2.t%h2z.bufr
END

BEGIN r21c_mtiasi_bufr => gdas1.%y2%m2%d2.t%h2z.mtiasi.tm00.bufr_d.ublk
  20080916_00z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/MTIASI/Y%y4/M%m2/gdas1.%y2%m2%d2.t%h2z.mtiasi.tm00.bufr_d
END

BEGIN r21c_atms_bufr => gdas1.%y4%m2%d2.t%h2z.atms.tm00.bufr_d.ublk  
  20111116_00z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/ATMS/Y%y4/M%m2/gdas1.%y4%m2%d2.t%h2z.atms.tm00.bufr_d
END

BEGIN r21c_cris_bufr => gdas1.%y4%m2%d2.t%h2z.cris.tm00.bufr_d.ublk
  20120106_06z-20120112_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/CRIS/Y%y4/M%m2/gdas1.%y4%m2%d2.t%h2z.cris.tm00.bufr_d
  20120406_12z-20200422_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/CRIS/Y%y4/M%m2/gdas1.%y4%m2%d2.t%h2z.cris.tm00.bufr_d
END


# Wentz SSMI Radiances
# --------------------

BEGIN r21c_ssmit11_bufr => wentz.ssmit11.%y4%m2%d2%h2.bfr.ublk
 19911203_00z-20000516_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/SSMIrad_wentz/v7/bufr/F11/Y%y4/M%m2/wentz_ssmit.f11.%y4%m2%d2%h2.bufr
END
BEGIN r21c_ssmit13_bufr => wentz.ssmit13.%y4%m2%d2%h2.bfr.ublk
 19950503_00z-20091104_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/SSMIrad_wentz/v7/bufr/F13/Y%y4/M%m2/wentz_ssmit.f13.%y4%m2%d2%h2.bufr
END
BEGIN r21c_ssmit14_bufr => wentz.ssmit14.%y4%m2%d2%h2.bfr.ublk
 19970508_00z-20080808_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/SSMIrad_wentz/v7/bufr/F14/Y%y4/M%m2/wentz_ssmit.f14.%y4%m2%d2%h2.bufr
END
BEGIN r21c_ssmit15_bufr => wentz.ssmit15.%y4%m2%d2%h2.bfr.ublk
 19991218_00z-20060826_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/SSMIrad_wentz/v7/bufr/F15/Y%y4/M%m2/wentz_ssmit.f15.%y4%m2%d2%h2.bufr
END
# GMAO AMSRE-AQUA Level 1B brightness temperature
#-------------------------
BEGIN r21c_amsre_bufr => gmao_amsre.%y4%m2%d2.t%h2z.bufr
 20020901_00z-20111004_06z 060000  /discover/nobackup/projects/gmao/input/gmao_ops/ops/reanalysis/amsre/Y%y4/M%m2/gmao.amsre_aqua.%y4%m2%d2.t%h2z.bufr
END
##########################
##  Ozone data
##########################

# Ozone partial column data 
#--------------------------
# SBUV ozone data ( Not preprocessed yet? 24 Aug 2021 )
BEGIN r21c_osbuv8_bufr => gmao.%y4%m2%d2.t%h2z.osbuv.tm00.bufr_d.ublk
 19781031_00z-20040930_18z 060000  /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/sbuv_v87/bufr/Y%y4/M%m2/gmao.sbuv8r7.%y4%m2%d2.t%h2z.bufr
END

# OMPS nadir profiler (not used in R21C but keeping it here. We may need it if both MLS and OMPS LP fail)
BEGIN r21c_npp_ompsnp_nc => ompsnpnc.%y4%m2%d2.t%h2z.nc
 20130101_00z-21001231_18z 060000  /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/ompsnp/Y%y4/M%m2/OMPSNP.%y4%m2%d2_%h2z.nc
END

# Ozone profile data 
#-------------------
# AURA MLS version 5  (Need to move these data to that location, but I don't seem to have permissions. Will ask Rob)
BEGIN r21c_mls_nc => mlsnc.%y4%m2%d2.t%h2z.nc
 20041001_00z-21001231_18z 060000  /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/mls/MLSv5/O3/Y%y4/M%m2/MLS-v5.0-oz.%y4%m2%d2_%h2z.nc
END

# OMPS Limb Profiler profiles (These data are not ready.  We are waiting for the latest reprocessed version)
BEGIN npp_ompslp_nc => ompslpnc.%y4%m2%d2.t%h2z.nc
 20130101_00z-21001231_18z 060000  /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/ompslp/Y%y4/M%m2/OMPS-LPoz.%y4%m2%d2_%h2z.nc
END

# Total Ozone data
#-----------------
#AURA OMI total ozone
BEGIN r21c_aura_omieff_nc => omieff.%y4%m2%d2.t%h2z.nc
 20041001_00z-21001231_18z 060000  /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/omi_eff_adjusted/Y%y4/M%m2/OMIeff-adj.%y4%m2%d2_%h2z.nc
END

# OMPS nadir total ozone
BEGIN r21c_npp_ompsnmeff_nc => ompsnmeffnc.%y4%m2%d2.t%h2z.nc
 20130101_00z-21001231_18z 060000  /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/ompsnm_eff/Y%y4/M%m2/OMPSNM.%y4%m2%d2_%h2z.nc
END

#----------------------

# EOSMLSt 
BEGIN r21c_gmao_mlst_bufr => MLSt.%y4%m2%d2.t%h2z.bufr
 20040802_00z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/obs/reanalysis/mls/temperature_v5/Y%y4/M%m2/MLSt_v5.%y4%m2%d2.t%h2z.bufr
END 

# REPROCESSED AMVs
#----------------
BEGIN r21c_goes_prep_bufr => gmao.GOES_amv.%y4%m2%d2.t%h2z.bufr
 19790101_00z-20121231_18z 060000 /gpfsm/dnb04/projects/p122/dao_ops/ops/reanalysis/GOES/bufr/WISCNAMV/Y%y4/M%m2/gmao.GOES_amv.%y4%m2%d2.t%h2z.bufr
END

BEGIN r21c_metsat_prep_bufr => gmao.METSAT_amv.%y4%m2%d2.t%h2z.bufr
 19790101_00z-20121231_18z 060000 /gpfsm/dnb04/projects/p122/dao_ops/ops/reanalysis/EUMETSAT/bufr/METSATBR/Y%y4/M%m2/gmao.METSAT_amv.%y4%m2%d2.t%h2z.bufr
END

BEGIN r21c_jma_prep_bufr => gmao.JMA_amv.%y4%m2%d2.t%h2z.bufr
 19790101_00z-20121231_18z 060000 /gpfsm/dnb04/projects/p122/dao_ops/ops/reanalysis/JMA/bufr/JMAAMV/Y%y4/M%m2/gmao.JMA_amv.%y4%m2%d2.t%h2z.bufr
END

 
# REPROCESSED AVHRR
# -----------------
BEGIN r21c_avcsam_n15_bufr => gdas1_n15.%y2%m2%d2.t%h2z.avcsam.tm00.bufr_d.ublk
 20000101_00z-20120123_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/AVHRR_repro/bufr/AVCSAM/Y%y4/M%m2/gmao.%y2%m2%d2.t%h2z.avcsam.tm00.n15.bufr_d
END
BEGIN r21c_avcspm_n16_bufr => gdas1_n16.%y2%m2%d2.t%h2z.avcspm.tm00.bufr_d.ublk
 20010301_00z-20050430_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/AVHRR_repro/bufr/AVCSPM/Y%y4/M%m2/gmao.%y2%m2%d2.t%h2z.avcspm.tm00.n16.bufr_d
END
BEGIN r21c_avcsam_n17_bufr => gdas1_n17.%y2%m2%d2.t%h2z.avcsam.tm00.bufr_d.ublk
 20021001_00z-20100131_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/AVHRR_repro/bufr/AVCSAM/Y%y4/M%m2/gmao.%y2%m2%d2.t%h2z.avcsam.tm00.n17.bufr_d
END
BEGIN r21c_avcspm_n18_bufr => gdas1_n18.%y2%m2%d2.t%h2z.avcspm.tm00.bufr_d.ublk
 20050701_00z-20120206_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/AVHRR_repro/bufr/AVCSPM/Y%y4/M%m2/gmao.%y2%m2%d2.t%h2z.avcspm.tm00.n18.bufr_d
END
BEGIN r21c_avcsam_metopa_bufr => gdas1_metopa.%y2%m2%d2.t%h2z.avcsam.tm00.bufr_d.ublk
 20081101_00z-20120206_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/reanalysis/AVHRR_repro/bufr/AVCSAM/Y%y4/M%m2/gmao.%y2%m2%d2.t%h2z.avcsam.tm00.metopA.bufr_d
END

BEGIN r21c_avcsam_bufr => gdas1.%y2%m2%d2.t%h2z.avcsam.tm00.bufr_d.ublk
  20120207_00z-20160227_00z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/AVCSAM/Y%y4/M%m2/gdas1.%y2%m2%d2.t%h2z.avcsam.tm00.bufr_d
  20160227_12z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/AVCSAM/Y%y4/M%m2/gdas1.%y2%m2%d2.t%h2z.avcsam.tm00.bufr_d
END

BEGIN r21c_avcspm_bufr => gdas1.%y2%m2%d2.t%h2z.avcspm.tm00.bufr_d.ublk
  20120207_00z-20140731_12z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/AVCSPM/Y%y4/M%m2/gdas1.%y2%m2%d2.t%h2z.avcspm.tm00.bufr_d
  20140801_00z-20160226_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/AVCSPM/Y%y4/M%m2/gdas1.%y2%m2%d2.t%h2z.avcspm.tm00.bufr_d
  20160228_06z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/AVCSPM/Y%y4/M%m2/gdas1.%y2%m2%d2.t%h2z.avcspm.tm00.bufr_d
END

BEGIN r21c_ssmis_bufr => gdas1.%y2%m2%d2.t%h2z.ssmisu.tm00.bufr_d.ublk
  20110228_00z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/SSMISU/Y%y4/M%m2/gdas1.%y2%m2%d2.t%h2z.ssmisu.tm00.bufr_d
END


BEGIN r21c_acftpfl_bufr => gdas1.%y4%m2%d2.t%h2z.prepbufr.acft_profiles.ublk
  20160511_00z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/ncep_g5obs/bufr/AIRCFT/Y%y4/M%m2/gdas1.%y4%m2%d2.t%h2z.prepbufr.acft_profiles
END

BEGIN r21c_amsr2_bufr => gmao.amsr2_gw1.%y4%m2%d2.t%h2z.ublk
  20171101_00z-20180228_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/amsr2/bufr/Y%y4/M%m2/gmao.amsr2_gw1.%y4%m2%d2.t%h2z.bufr
  20180401_00z-20180909_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/amsr2/bufr/Y%y4/M%m2/gmao.amsr2_gw1.%y4%m2%d2.t%h2z.bufr
  20181001_06z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/amsr2/bufr/Y%y4/M%m2/gmao.amsr2_gw1.%y4%m2%d2.t%h2z.bufr
END

BEGIN r21c_crisfsr_bufr => gdas1.%y4%m2%d2.t%h2z.crisfsr.tm00.bufr_d.ublk
  20171020_00z-20180930_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/crisf4/bufr/CRISF4/Y%y4/M%m2/crisf4.gdas.%y4%m2%d2%h2
  20181001_00z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/crisf4/bufr/CRISF4/Y%y4/M%m2/gdas1.%y4%m2%d2.t%h2z.crisf4.tm00.bufr_d
END

BEGIN r21c_gmi_bufr => gmi.%y4%m2%d2.t%h2z.bufr
  20140401_00z-21001231_18z 060000 /discover/nobackup/projects/gmao/input/dao_ops/ops/flk/gmi/bufr/gmi/Y%y4/M%m2/gmi_L1CR.%y4%m2%d2.t%h2z.bufr
END


